* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
}

body {
    font-family: "Poppins", sans-serif;
    color: #212121;
    font-size: 16px;
    font-weight: 400;
}
a{
    color: #212121;
    text-decoration: none;
}

.content-wrapper {
    padding: 30px 16px;
    min-height: 100vh;
}


.login-section .authentication-left-outer {
    flex: 0 0 48.45%;
    max-width: 48.45%;
    display: flex;
    flex-direction: column;
    background-image: url(../images/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
}

.login-section .authentication-left-outer .authentication-left-inner {
    max-width: 516px;
    justify-content: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0 auto;
}

h2 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}

.login-section .authentication-left-outer .authentication-left-inner .yellow-text {
    color: #F78F1E;
}

.login-section .authentication-left-outer .attendance {
    font-size: 16px !important;
}

.login-section .authentication-left-outer p+p {
    margin-bottom: 40px;
}

.authentication-left-inner .authentication-list {
    margin-top: 35px;
    padding-left: 11px;
}

.login-section .authentication-left-outer .authentication-left-inner p {
    font-size: 18px;
}

.login-section .authentication-left-outer .authentication-left-inner.forget-passsword-content {
    max-width: 333px;
    color: #878787;
}

.authentication-left-inner .authentication-list li {
    margin-bottom: 14px;
}

.authentication-left-inner .authentication-list li {
    padding-left: 20px;
    position: relative;
}

.authentication-left-inner .authentication-list li::before {
    content: '';
    position: absolute;
    background-image: url(../images/Point.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 12px;
    height: 12px;
    top: 8px;
    left: 0;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.authentication-left-inner p:last-child {
    margin-bottom: 40px;
}

.authentication-left-inner a {
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    min-width: 168px;
}

.authentication-left-inner a img {
    position: absolute;
    width: 26px;
    top: 37%;
    right: 12px;
    height: 26px;
}


.secondary-btn {
    max-width: 177px;
    background-color: #FFFFFF;
    border: 2px solid #f78f1e80;
    color: #212121;
    height: 61px;
    border-radius: 6px;
    margin-bottom: 15px;
}


.login-section .authentication-left-outer .img-wrapper {
    display: flex;
    max-width: 516px;
    margin: 0 auto;
    width: 100%;

}

.login-section .authentication-left-outer .img-wrapper li {
    margin-right: 26px;
}

.login-section .authentication-left-outer .img-wrapper li a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #1d8bfa66;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.login-section .authentication-left-outer .img-wrapper li a:hover {
    background-color: #1d8bfa1f;
}


h1 {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 30px;
}

.title-wrapper h1 {
    margin-bottom: 17px;
}

.title-wrapper p {
    margin-bottom: 17px;
    font-size: 18px;
    max-width: 333px;
    color: #878787;
    margin-bottom: 29px;
}

.authentication-right-outer {
    flex: 0 0 51.55%;
    max-width: 51.55%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;

}

.authentication-right-outer .authentication-right-inner {
    justify-content: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
    max-width: 380px;
}

.authentication-right-outer .logo {
    margin-bottom: 8px;
}


.form-wrapper label:not(:last-child) {
    font-size: 14px;
}

.form-wrapper .form-group {
    margin-bottom: 29px;
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #979797;
    font-size: 16px;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #979797;
    font-size: 16px;

}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #979797;
    font-size: 16px;

}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #979797;
    font-size: 16px;
}

.form-wrapper .form-control {
    outline: none;
    width: 100%;
    line-height: 54px;
    padding: 0 15px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    margin-top: 8px;
}

.form-wrapper .primary-btn {
    border-radius: 5px;
    color: #fff;
    background-color: #F78F1E;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    line-height: 3;
    height: 54px;
    text-align: center;
    margin-bottom: 36px;
    border: none;
}

.authentication-right-outer .password-content p {
    text-align: center;
    color: #757575;
}

.password-content a {
    text-decoration: none;
    display: block;
    font-weight: 600;
    color: #F78F1E;
}

.authentication-right-outer .footer-botton p {
    font-size: 14px;
    text-align: center;
    color: #606060;
}

.authentication-right-outer .footer-botton a {

    color: #606060;
    text-decoration-color: #606060;
    font-weight: 600;
}


.form-wrapper [type="checkbox"] {
    opacity: 0;
}

.form-wrapper [type="checkbox"]+label {
    position: relative !important;
    display: inline-block;
    padding-left: 25px;
    color: #212121;
    font-size: 14px;

}

.form-wrapper [type="checkbox"]+label::before {
    content: " ";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #F78F1E;
    background-color: #fff;
    border-radius: 3px;
    left: 0;
    top: 2px;

}


.form-wrapper [type="checkbox"]:not(:checked)+label::after {
    content: " ";
    position: absolute;
    background-image: url(../images/arrow-in-remember-me.svg);
    width: 14px;
    height: 14px;
    left: 0;
    top: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #F78F1E;
    background-color: #F78F1E;
    border-radius: 5px;

}

@media (max-width:1024px) {
    .login-section .authentication-left-outer {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .authentication-right-outer .authentication-right-inner {
        justify-content: flex-start;
    }

    .login-section .authentication-left-outer {
        padding: 15px 0;
    }

    .authentication-right-outer {
        margin: 0 auto;
    }
}







/* -----------------dashboard-css------------------------------------------------------------------------------------------ */

.page-wrapper {
    padding: 30px 30px 30px 20px;
    min-height: 100vh;
}

.page-wrapper .nav-section img {
    margin-bottom: 40px;
}
.page-wrapper aside.side-navigation {
    position: fixed;
}
.page-wrapper .nav-section ul a {
    position: relative;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #212121;
    padding-left: 45px;
    text-decoration: none;
    } 



.page-wrapper .nav-section {
    max-width: 280px;
    height: 100%;
    width: 100%;
    background-color: #606060;
    padding: 20px 20px;
}

.page-wrapper .nav-section .nav-listing {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 75vh;
}

.page-wrapper .nav-section .nav-listing img {
    position: absolute;
}

.page-wrapper .nav-section .nav-listing li{
    padding: 15px;
}

.page-wrapper .nav-section .nav-listing li:hover{
    background-color: #1D8BFA;
    Width: 240px;
    Height: 50px;   
    border-radius: 6px;
    margin-bottom: 10px;
}
.page-wrapper .nav-section .nav-listing a:hover{
    color: #fff;
}
.page-wrapper .logout-section img+a{
    position: relative;
    padding-left: 30px;
    
}
.page-wrapper .logout-section{
    text-align: center;
    background-color: #bdcad6;
    Width: 240px;
    Height: 50px;   
    border-radius: 6px;
    margin-bottom: 20px;
    padding-top:15px;
}

.page-wrapper .logout-section img{
    position: absolute;
}
.page-wrapper .footer-bottom{
    text-align: center;
}
.page-wrapper .footer-bottom a{
    text-decoration: underline;
}


header.site-header{
    position: absolute;
    left: 20%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1160px;
}