* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
}

body {
    font-family: "Poppins", sans-serif;
    color: #212121;
    font-size: 16px;
    font-weight: 400;
}

.content-wrapper {
    padding: 20px;
}


.login-section .authentication-left-outer {
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0 auto;
    padding: 30px 0;
}

.login-section .authentication-left-outer .authentication-left-inner {
    max-width: 512px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    min-height: calc(100vh - 150px);
    flex-direction: column;
}

 h2 {
    font-weight: 600;
    font-size: 29px;
    margin-bottom: 10px;
}



.login-section .authentication-left-outer .authentication-left-inner span {
    display: block;
    color: #F78F1E;
}

.login-section .authentication-left-outer .attendance {
    font-size: 16px !important;
    margin-bottom: 30px;
}

.authentication-left-inner .authentication-list {
    padding: 24px;
}

.login-section .authentication-left-outer .authentication-left-inner p {
    font-size: 18px;
}

.authentication-left-inner .authentication-list li:not(:last-child) {
    margin-bottom: 14px;
}

.authentication-left-inner .authentication-list li {
    padding-left: 10px;
    position: relative;
}

.authentication-left-inner .authentication-list li::before {
    content: '';
    position: absolute;
    background-image: url(../images/Point.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 5px;
    top: 8px;
    left: -8px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.authentication-left-inner p:last-child {
    margin-bottom: 40px;
}

.authentication-left-inner a {
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.authentication-left-inner p+a::after {
    position: absolute;
    content: '';
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 5px;
    width: 10px;
    top: 17px;
    right: 8px;
    height: 22px;
}


.authentication-left-inner .secondary-btn {
    padding: 16px 30px;
    max-width: 177px;
    background-color: #FFFFFF;
    border: 2px solid #f78f1e80;
    color: #212121;
    border-radius: 5px;
    margin-bottom: 30px;
}

.login-section .authentication-left-outer .img-wrapper {
    margin: 0 auto;
    display: flex;
    max-width: 512px;
}

.login-section .authentication-left-outer .img-wrapper li {
    margin-right: 15px;
}

.login-section .authentication-left-outer .img-wrapper li a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #1d8bfa66;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 30px;
}

.authentication-right-outer {
    margin: 0 auto;
    padding: 30px 0;

}

.authentication-right-outer .authentication-right-inner {

    justify-content: center;
    display: flex;
    min-height: calc(100vh - 122px);
    flex-direction: column;
}

.authentication-right-outer .logo {
    margin-bottom: 11px;
}


.authentication-right-outer .form-wrapper label {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
}

.authentication-right-outer .form-wrapper .form-group {
    margin-bottom: 30px;
}

.authentication-right-outer .form-wrapper ::placeholder {
    font-weight: 400;
    color: #979797;
}

.authentication-right-outer .form-wrapper .form-control {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
}

.authentication-right-outer .form-wrapper .primary-btn {
    border-radius: 5px;
    color: #fff;
    background-color: #F78F1E;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 50px;
    border: none;
}

.authentication-right-outer .password-content p {
    text-align: center;
    color: #757575;
}

.authentication-right-outer .password-content span {
    display: block;
    font-weight: 600;
    color: #F78F1E;
}

.authentication-right-outer .footer-botton p {
    font-size: 14px;
    text-align: center;
    color: #606060;
}

.authentication-right-outer .footer-botton span {
    text-decoration: underline;
    text-decoration-color: #606060;
    font-weight: 600;
}


[type="checkbox"] {
    opacity: 0;
}

[type="checkbox"]+label {
    position: relative !important;
    display: inline-block;
    padding-left: 30px;

}

[type="checkbox"]+label::before {
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid #F78F1E;
    background-color: #fff;
    border-radius: 5px;
    left: 0;
    top: 0;

}


[type="checkbox"]:not(:checked)+label::after {
    content: " ";
    position: absolute;
    background-image: url(../images/arrow-in-remember-me.svg);
    width: 15px;
    height: 15px;
    left: 0;
    top: 0; 
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid #F78F1E;
    background-color: #F78F1E;
    border-radius: 5px;

}

@media (max-width:1129px) {
    .login-section .authentication-left-outer {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .authentication-right-outer .authentication-right-inner {
        justify-content: flex-start;
    }
    .login-section .authentication-left-outer{
        padding: 20px 0;
    }

}

@media (max-width:675px) {
    h2,h1{
        font-size: 26px;
    }
   
}